.nosto-logo {
  max-width: 130px;
}

body {
  color: #131e28;
  font-family: "Gotham A", "Montserrat", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.75;
}

.navbar-light .navbar-nav .nav-link,
.dropdown-item,
.dropdown-item:focus,
.dropdown-item:hover {
  font-size: 12px;
  color: #131e28;
  padding: 0 10px;
}

@media (min-width: 1200px) {
.container {
    max-width: 1250px;
}
}
